@charset "UTF-8";


.table tbody {
	overflow-y: auto;
	overflow-x: hidden;
	float: left;
	width: 1320px;
	height: 400px;
}

.table tbody tr {
	display: table;
	width: 1300px;
}

.fixTable {
	background-color: #4A90E2;
	color: white;
	height: 50px;
}

.table{
	font-size: 14px;
	width: 1300px;
	border-collapse:collapse;
	margin: 30px 0 0 0;
}

.table thead {
	float:left;
	width: 1300px;
}

.optionBox {
	background-color: #F5F5F5;
	width: 1300px;
	border-radius: 5px;
	padding: 10px 0 0 30px;
}

.slot {
	margin-left: 20px;
	margin-right: 20px;
	font-weight: bold;
	color: #666666;
}

input[type="date"],
select
{
	border: 1px solid #F5F5F5;
	color: #383838;
}

.userInfoView {
	width: 1320px;
	background-color: #F5F5F5;
	border: 1px solid #F5F5F5;
	border-radius: 5px;
	height: 300px;
	margin-left: 50px;
}

.table tbody td {
	border:1px solid #F5F5F5;
}

.viewTable {
	border-collapse:collapse;
	width: 1320px;
	height: 300px;
}

.viewTable tr:nth-child(1),
.viewTable tr:nth-child(2){
	height: 30px;
}

.viewTable tr:nth-child(1)>td:nth-child(2),
.viewTable tr:nth-child(2)>td:nth-child(2),
.viewTable tr:nth-child(2)>td:nth-child(4),
.viewTable tr:nth-child(2)>td:nth-child(6),
.viewTable tr:nth-child(2)>td:nth-child(8)
{
	width: 150px;
	text-align: center;
}

/*th*/
.viewTable>tr:nth-child(2)>td:nth-child(1),
.viewTable>tr:nth-child(2)>td:nth-child(3),
.viewTable>tr:nth-child(2)>td:nth-child(5),
.viewTable>tr:nth-child(2)>td:nth-child(7)
{
	width: 100px;
	text-align: center;
	font-weight: bold;
}

.viewTable tr:nth-child(1)>td:nth-child(1),
.viewTable tr:nth-child(1)>td:nth-child(3),
.viewTable tr:nth-child(1)>td:nth-child(5)
{
	width: 150px;
	text-align:center;
	color: #F5F5F5;
	background-color:#4A90E2;
}

.viewTable tr:nth-child(2)>td:nth-child(1),
.viewTable tr:nth-child(2)>td:nth-child(3),
.viewTable tr:nth-child(2)>td:nth-child(5),
.viewTable tr:nth-child(2)>td:nth-child(7)
{
	text-align:center;
	color: #F5F5F5;
	background-color:#4A90E2;
}

.viewTable tr:nth-child(1)>td:nth-child(4)
{
	width: 200px;
	text-align:center;
}

.viewTable tr:nth-child(1)>td:nth-child(6)
{
	width: 500px;
	text-align: left;
	padding-left: 5px;
}

.viewTable tr:nth-child(1) 
{
	height: 30px;
}

.fixTable>td:nth-child(1) {
	width: 50px;
	text-align: center;
}

.fixTable>td:nth-child(2) {
	width: 175px;
	text-align: center;
}

.fixTable>td:nth-child(3) {
	width: 175px;
	text-align: center;
}

.fixTable>td:nth-child(4) {
	width: 400px;
	text-align: center;
}

.fixTable>td:nth-child(5) {
	width: 150px;
	text-align: center;
}

.fixTable>td:nth-child(6) {
	width: 150px;
	text-align: center;
}

.fixTable>td:nth-child(7) {
	width: 150px;
	text-align: center;
}

.fixTable>td:nth-child(8) {
	width: 50px;
	text-align: center;
}


#userRemove {
	color: red;
	font-weight: bold;
	cursor: pointer;	
	margin-left: 450px;
}

input[type="button"]{
	width: 70px;
	border: 1px solid white;
	background-color:#383838;
	color: white; 
	height: 25px;
	border-radius: 5px;
	font-weight: bold;
}

.resultTable>td:nth-child(1) {
	width: 50px;
	text-align: center;
}

.resultTable>td:nth-child(2) {
	width: 175px;
	text-align: center;
}

.resultTable>td:nth-child(3) {
	width: 175px;
	text-align: center;
}

.resultTable>td:nth-child(4) {
	width: 400px;
	text-align: center;
}

.resultTable>td:nth-child(5) {
	width: 150px;
	text-align: center;
}

.resultTable>td:nth-child(6) {
	width: 150px;
	text-align: center;
}

.resultTable>td:nth-child(7) {
	width: 150px;
	text-align: center;
}

.resultTable>td:nth-child(8) {
	width: 50px;
	text-align: center;
}

.resultTable:hover {
	background-color: #a8a8a8;
	cursor: pointer;
}
/* 
.header div:nth-child(2) {
	float: right;
	width: 450px;
	margin-top: 25px;
}


.header div:nth-child(2) span:nth-child(1) {
	color: #F5F5F5;
	font-weight: bold;
	padding-top: 3px;
	float: left;
}

.header div:nth-child(2) span:nth-child(1) a {
	color: #4690E2;	
}

.header div:nth-child(2) span:nth-child(2) {
	background-color: #707070;
	color: #F5F5F5;
	font-szie: 20px;
	font-weight: bold;
	border: 1px solid #707070;
	border-radius: 5px;
	margin-top: 5px;
}


.header div:nth-child(2)>a {
	text-decoration: none;
	float: right;
	color: #4690E2#4A90E2;
	font-weight: bold;
	font-size: 20px;
	padding-right: 100px;
	padding-top: 5px;
}

.header div:nth-child(2) span a img{
	width: 40px;
	margin-bottom: 5px;
}

.header div:nth-child(2) span span{
	width: 200px;
	text-align: right;
}

 */