@charset "UTF-8";
/* .subject {
	display: inline-block; 
	width: 400px; 
	white-space: nowrap; 
	overflow: hidden; 
	text-overflow: ellipsis;
}
 */
.table tbody {
	overflow-y: auto;
	overflow-x: hidden;
	float: left;
	width: 1320px;
	height: 400px;
}


.table2 tbody {
	overflow-y: auto;
	overflow-x: hidden;
	float: left;
	width: 1320px;
	height: 300px;
}

.table tbody tr {
	display: table;
	width: 1300px;
}

.table2 tbody tr {
	display: table;
	width: 1300px;
}

.fixTable {
	background-color: #4A90E2;
	color: white;
	height: 50px;
}

.table{
	font-size: 14px;
	width: 1300px;
	border-collapse:collapse;
	margin: 30px 0 0 0;
}

.table2{
	font-size: 14px;
	width: 1300px;
	border-collapse:collapse;
	margin: 30px 0 0 0;
}

.table thead {
	float:left;
	width: 1300px;
}

.optionBox {
	background-color: #F5F5F5;
	width: 1300px;
	border-radius: 5px;
	padding: 10px 0 0 30px;
}

.slot {
	margin-left: 20px;
	margin-right: 20px;
	font-weight: bold;
	color: #666666;
}

input[type="date"],
select
{
	border: 1px solid #F5F5F5;
	color: #383838;
}

.userInfoView {
	width: 1300px;
	background-color: #F5F5F5;
	border: 1px solid #F5F5F5;
	border-radius: 5px;
	margin: 50px 0 0 50px;
}

.table tbody td {
	border:1px solid #F5F5F5;
}

/* .viewTable { */
/* 	border-collapse:collapse; */
/* } */

/* .viewTable th { */
/* 	background-color: #4A90E2; */
/* 	color: white; */
/* 	border: 1px solid black; */
/* } */

/* .qTalbeTr { */
/* 	height:40px; */
/* } */
/* .qTalbeTr>th { */
/* 	background-color: #a8a8a8; */
/* } */
/* .qTalbeTr>td { */
/* 	text-align: center; */
/* } */

/* .viewFixTable { */
/* 	height:40px; */
/* } */

/* .viewTable { */
/* 	width:1300px; */
/* } */

/* .viewTable, */
/* .viewTable>thead>tr, */
/* .viewTable>thead>tr>th, */
/* .viewTable>tbody>tr, */
/* .viewTable>tbody>tr>td, */
/* .viewTable>tbody>tr>th */
/* { */
/* 	border: 1px solid black; */
/* } */


.text {
	text-align: left;
}

input.a_button {
	margin: 5px;
	width: 100px;
	height: 40px;
	background-color: #E2AD4A;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 5px;
}


.input_text{
	size: 20;
	border:none;
	height: 40px;
}

.a_content_title {
	padding-left: 15px;
}

.a_content_body {
	padding: 15px;
}