@charset "UTF-8";

.viewTable {
	border-collapse: collapse;
	margin-left: 2px;
}

.viewTable>thead>tr:nth-child(1)>th,
.viewTable>tbody>tr:nth-child(5)>th{
	background-color: #4A90E2;
	color: #FFF8F7;
	font-size: 14px;
}

.viewTable>tbody>tr:nth-child(3)>th,
.viewTable>tbody>tr:nth-child(7)>th{
	text-align: left;
	padding-left: 55px;
}

.viewTable>thead>tr:nth-child(1),
.viewTable>tbody>tr:nth-child(5)
{
	height: 30px;
}

.viewTable>tbody>tr:nth-child(4){ 
	height: 50px;
}

.viewTable>tbody>tr:nth-child(4)>td{ 
	padding: 10px;
}

.viewTable>tbody>tr:nth-child(9)>td>input[type="button"]{
	width: 80px;
	height: 30px;
	color: #FFF8F7;
	background-color: #E2AA4A;
	border: none;
	border-radius: 5px;
	float: right;
	margin-right: 10px;
}


.table tbody {
	overflow-y: auto;
	overflow-x: hidden;
	float: left;
	width: 1320px;
	height: 400px;
}


.table2 tbody {
	overflow-y: auto;
	overflow-x: hidden;
	float: left;
	width: 1320px;
	height: 300px;
}

.table tbody tr {
	display: table;
	width: 1300px;
}

.table2 tbody tr {
	display: table;
	width: 1300px;
}

.fixTable {
	background-color: #4A90E2;
	color: white;
	height: 50px;
}

.table{
	font-size: 14px;
	width: 1300px;
	border-collapse:collapse;
	margin: 30px 0 0 0;
}

.table2{
	font-size: 14px;
	width: 1300px;
	border-collapse:collapse;
	margin: 30px 0 0 0;
}

.table thead {
	float:left;
	width: 1300px;
}

.optionBox {
	background-color: #F5F5F5;
	width: 1300px;
	border-radius: 5px;
	padding-left: 30px;
}

.slot {
	margin-left: 20px;
	margin-right: 20px;
	font-weight: bold;
	color: #666666;
}

input[type="date"],
select
{
	border: 1px solid #F5F5F5;
	color: #383838;
}

.userInfoView {
	width: 1320px;
	background-color: #F5F5F5;
	border: 1px solid #F5F5F5;
	margin-left: 50px;
}

.table tbody td {
	border:1px solid #F5F5F5;
}

.text {
	text-align: left;
}

input.a_button {
	margin: 5px;
	width: 100px;
	height: 40px;
	background-color: #E2AD4A;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 5px;
}


.input_text{
	size: 20;
	border:none;
	height: 40px;
}

.a_content_title {
	padding-left: 15px;
}

.a_content_body {
	padding: 15px;
}