@charset "UTF-8";


.banner {
	margin: 30px 0 0 120px; 
}

.img {
	border: 1px solid #e0e0e0;
}

.angle {
	font-size: 50px;
	color:  #e0e0e0;
	display: inline;
}

.angle_left{
	float: left;
	margin: 80px 7px 0 0;
}

.angle_left:hover,
.angle_right:hover{
	color: #124993;
	opacity: 40%;
}

.angle_right{
	float: right;
	margin: 80px 120px 0 0;
}

.hr {
	width: 1200px;
	border: 1px solid #e0e0e0;
}

.point {
	color: orange;
	font-weight: bold;
}

.notice>table {
	font-size: 12px;
}

.notice {
	border: 1px solid #e0e0e0;
	border-radius: 5px;
	width: 500px;
	margin: 30px 0 20px 30px; 
	float: left;
}

.sub_title {
	border-left: 3px solid #124993;
	font-size: 15px;
	color: #124993;
	padding-left: 10px;
	font-weight: bold;
} 

.notice>table>tr {
	border-bottom: 1px solid #e0e0e0;
}

.notice_table {
	margin: 20px 20px 20px 30px;
	color: 	#a8a8a8;
}

.table_underline {
	border-bottom: 1px solid #a8a8a8;
}

.table_move {
	padding-left: 10px;
}

.more {
	color: #a8a8a8;
}

.intro {
	border: 1px solid #e0e0e0;
	width: 700px;
	height: 300px;
	border-radius: 5px;
	margin-left: 570px;
	margin-bottom: 30px;
	margin-top: 30px;
}


.font {
	font-size: 10px;
	color: #a8a8a8;
}

.intro_table {
	margin: 30px 0 0 30px;
}

.info_title {
	font-size: 15px;
	color: #124993;
}
.point2 {
	color: #2C78D7;
}
.intro_info {
	font-size: 14px;
	line-height: 25px;
	padding: 20px;
	color: #a8a8a8;
}

.line_right {
	border-right: 1px solid  #e0e0e0;
}
.use_time_more {
	width: 50px;
	font-size: 12px;
	margin: 50px 0 0 192px; 
}

.sub_banner {
	margin-left: 30px;
	border: 1px solid  #e0e0e0;
}

.book {

	border-bottom: 1px solid  #e0e0e0;
	width: 1243px;
	height: 300px;
	margin-top: 30px;
}
.books {
	height: 210px;
	width: 130px;
	margin-top: 20px;
}

.book_list>li {
	display: inline;
	list-style: none;
	margin-left: 30px;
	float: left;
}

.bookkit {
	width: 150px;
}

.book_title>a {
	font-size: 12px;
	text-align: center;
}

.book_title {
	 text-align: center;
	 width:130px;
     padding:0 5px;
     overflow:hidden;
     text-overflow:ellipsis;
     white-space:nowrap;
}

.newbook {
	margin: 10px 0 0 70px;
}


