@charset "UTF-8";

.table tbody {
	overflow-y: auto;
	overflow-x: hidden;
	float: left;
	width: 1020px;
	height: 400px;
}

.table tbody tr {
	display: table;
	width: 1000px;
}

.fixTable {
	background-color: #4A90E2;
	color: white;
	height: 50px;
}

.table{
	font-size: 14px;
	width: 1000px;
	border-collapse:collapse;
	margin: 30px 0 0 0;
}

.table thead {
	float:left;
	width: 1000px;
}

.optionBox {
	background-color: #F5F5F5;
	width: 1000px;
	border-radius: 5px;
	padding: 10px 0 0 30px;
}

.slot {
	margin-left: 20px;
	margin-right: 20px;
	font-weight: bold;
	color: #666666;
}

input[type="date"],
select
{
	border: 1px solid #F5F5F5;
	color: #383838;
}

.userInfoView {
	width: 1000px;
	background-color: #F5F5F5;
	border: 1px solid #F5F5F5;
	border-radius: 5px;
	height: 300px;
	margin: 50px 0 0 50px;
}

.table tbody td {
	border:1px solid #F5F5F5;
}

.viewTable {
	border-collapse:collapse;
}

.viewTable th {
	background-color: #4A90E2;
	color: white;
	border: none;
}

.fixTable>td:nth-child(1) {
	width: 50px;
	text-align: center;
}

.fixTable>td:nth-child(2) {
	width: 150px;
	text-align: center;
}

.fixTable>td:nth-child(3) {
	width: 150px;
	text-align: center;
}

.fixTable>td:nth-child(4) {
	width: 250px;
	text-align: center;
}

.fixTable>td:nth-child(5) {
	width: 350px;
	text-align: center;
}

.fixTable>td:nth-child(6) {
	width: 50px;
	text-align: center;
}

#userRemove {
	color: red;
	font-weight: bold;
	cursor: pointer;	
	margin-left: 450px;
}

input[type="button"]{
	width: 70px;
	border: 1px solid white;
	background-color:#383838;
	color: white; 
	height: 25px;
	border-radius: 5px;
	font-weight: bold;
}

.resultTable>td:nth-child(1) {
	width: 50px;
	text-align: center;
}

.resultTable>td:nth-child(2) {
	width: 150px;
	text-align: center;
}

.resultTable>td:nth-child(3) {
	width: 150px;
	text-align: center;
}

.resultTable>td:nth-child(4) {
	width: 250px;
	text-align: center;
}

.resultTable>td:nth-child(5) {
	width: 350px;
	text-align: center;
}

.resultTable>td:nth-child(6) {
	width: 50px;
	text-align: center;
}

.resultTable:hover {
	background-color: #a8a8a8;
	cursor: pointer;
}
