<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.skylibrary.mappers.noticeMapper">
<sql id="*">
	noticeNo,
	managerID,
	noticeTitle,
	noticeBody,
	noticeDate,
	noticeHit,
	noticeFile   
</sql>

<!-- 메인 -->
<select id="listMain" resultType="noticeVO">
	SELECT 
			noticeNo,
			managerID, 
			noticeTitle, 
			noticeBody, 
			noticeDate
			
	FROM     notice
	ORDER BY noticeNo DESC
	LIMIT    0,5
</select>
<!-- 공지사항 -->

<select id="list" parameterType="searchVO" resultType="noticeVO">
	SELECT 
			noticeNo,
			managerID,
			noticeTitle,
			noticeBody,
			noticeDate,
			noticeHit,
			noticeFile   
			
	FROM notice
	WHERE 1=1
	<if test="searchText neq null">
		<if test="searchType eq 'all'">
			AND noticeBody  like CONCAT('%',#{searchText},'%')
			OR  managerID   like CONCAT('%',#{searchText},'%')
			OR  noticeTitle like CONCAT('%',#{searchText},'%')
		</if>
		<if test="searchType eq 'body'">
			AND noticeBody like CONCAT('%',#{searchText},'%')
		</if>
		<if test="searchType eq 'writer'">
			AND managerID like CONCAT('%',#{searchText},'%')
		</if>
		<if test="searchType eq 'title'">
			AND noticeTitle like CONCAT('%',#{searchText},'%')
		</if>
	</if>
	LIMIT #{start},#{end}
</select>

<select id="countList" parameterType="searchVO" resultType="int">
	SELECT COUNT(*)
	FROM notice
	WHERE 1=1
	<if test="searchText neq null">
		<if test="searchType eq 'all'">
			AND noticeBody  like CONCAT('%',#{searchText},'%')
			OR  managerID   like CONCAT('%',#{searchText},'%')
			OR  noticeTitle like CONCAT('%',#{searchText},'%')
		</if>
		<if test="searchType eq 'body'">
			AND noticeBody like CONCAT('%',#{searchText},'%')
		</if>
		<if test="searchType eq 'writer'">
			AND managerID like CONCAT('%',#{searchText},'%')
		</if>
		<if test="searchType eq 'title'">
			AND noticeTitle like CONCAT('%',#{searchText},'%')
		</if>
	</if>
</select>

<select id="view" parameterType="noticeVO" resultType="noticeVO">
	SELECT <include refid="*" />
	FROM notice
	WHERE noticeNo = #{noticeNo}
</select>

<!-- 사서 공지사항 목록 -->
<select id="noticeList" resultType="com.skylibrary.vo.NoticeVO">
	SELECT
		noticeNo,
		managerID,
		noticeTitle,
		noticeBody,
		noticeDate,
		noticeHit,
		noticeFile 
	FROM notice
	order by noticeNo desc
	limit 0,10	  
</select>

<!-- 공지사항 작성 -->
<insert id="noticeWrite" parameterType="com.skylibrary.vo.NoticeVO">
	INSERT INTO 
		notice (managerID, noticeTitle, noticeBody, noticeDate, noticeFile)
	VALUES 
		(#{userID}, #{noticeTitle}, #{noticeBody}, now(), #{noticeFile})
</insert>

</mapper>