<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skylibrary.mappers.rentMapper">

<select id="list" resultType="rentVO" parameterType="userVO">
	SELECT 
		rentNO, userID, bookISBN, rentStartDate, rentEndDate
	FROM rent 
	WHERE userID = #{userID}
</select>
<select id="selectRent" resultType="rentVO" parameterType="userVO">
		SELECT  u.userID
			,   u.userPW
			,	u.userName
			,	u.userNum
			,	u.userPostNum
			,	u.userAddr
			,	u.userAddrDetail
			,	u.userEmail
			,	r.rentNo
			,	r.bookISBN
			,	r.rentStartDate
			,	r.rentEndDate
			,	b.bookSubject
			,	b.bookStory
			,	b.bookCount
			,	b.bookCompany
			,	b.bookWriter
			,	b.bookPublicationDate
			,	b.bookRent
			,	b.bookCoverImg
			,   DATEDIFF(r.rentEndDate, r.rentStartDate) as compare
		FROM user u, rent r, book b
	WHERE 
		r.userID = u.userID
	AND 
		r.bookISBN = b.bookISBN
	AND 
		u.userID = #{userID}
</select>
<select id="userRentInfo" resultType="java.util.Map" parameterType="sessionVO">
		SELECT  u.userID
			,   u.userPW
			,	u.userName
			,	u.userNum
			,	u.userPostNum
			,	u.userAddr
			,	u.userAddrDetail
			,	u.userEmail
			,	r.rentNo
			,	r.bookISBN
			,	DATE_FORMAT(r.rentStartDate, '%Y-%m-%d') as rentStartDate
			,	DATE_FORMAT(r.rentEndDate, '%Y-%m-%d') as rentEndDate
			,	b.bookSubject
			,	b.bookStory
			,	b.bookCount
			,	b.bookCompany
			,	b.bookWriter
			,	b.bookPublicationDate
			,	b.bookRent
			,	b.bookCoverImg
			,   DATEDIFF(r.rentEndDate, now()) as lateTime
		FROM user u, rent r, book b
	WHERE 
		r.userID = u.userID
	AND 
		r.bookISBN = b.bookISBN
	AND 
		u.userID = #{userID}
</select>
<update id="extensionBook" parameterType="bookVO">
	UPDATE rent 
	SET rentEndDate = DATE_ADD(rentEndDate, INTERVAL 7 DAY)
	WHERE bookISBN = #{bookISBN}
</update>

<select id="extenstionSelect" resultType="rentVO" parameterType="rentVO">
	SELECT 
		rentEndDate
	FROM rent
	WHERE bookISBN = #{bookISBN}
</select>

<update id="updateBook" parameterType="bookVO">
	UPDATE book 
	SET bookRent = 0 
	WHERE bookISBN = #{bookISBN}
</update>

<delete id="deleteRent" parameterType="rentVO">
	DELETE FROM rent
	WHERE bookISBN = #{bookISBN}
</delete>
</mapper>