<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skylibrary.mappers.rentMapper">
<select id="list" resultType="rentVO" parameterType="userVO">
	SELECT * FROM rent WHERE userID = #{userID}
</select>
<insert id="insert" parameterType="rentVO">
	insert into rent
	(userID, bookISBN, rentEndDate, bookSubject, bookWriter)
	value
	(#{userID},#{bookISBN},date_add(now(), interval 14 day),#{bookSubject},#{bookWriter})
</insert>
<select id="userRentInfoOk" resultType="java.util.Map" parameterType="rentVO">
	SELECT rentNo,
			userID,
			rentStartDate,
			rentEndDate,
			(select bookSubject from book where bookISBN=rent.bookISBN) as bookSubject,
			(select bookCompany from book where bookISBN=rent.bookISBN) as bookCompany

	FROM rent 
	WHERE userID=#{userID}
</select>
</mapper>