@charset "EUC-KR";
.searchview{
	position : relative;
	padding-left : 10%;		
}

.viewTable {
	border-collapse:collapse
	
}

h3 {
	
	color: #383838;
}

.storyDiv {
	border-top: 2px solid #2C78D7;
	border-bottom: 2px solid #2C78D7;
	padding: 20px 10px 20px 10px;
	width: 780px;
}

.view_td {
	border-top: 3px solid #2C78D7;
	border-bottom: 1px solid #2C78D7;
}

.tr {
	height: 40px;
}


.imgtd {
	border-right: 1px solid #e0e0e0;
	width: 250px;
	border-bottom: 1px solid #e0e0e0;
}

.lasttd {
	border-bottom: 1px solid #e0e0e0;
}

.tr td,
.tr th
{
	border-top: 1px solid #e0e0e0;
}

.tr th {
	border-right: 1px solid #e0e0e0;
	width: 100px;
	font-size: 14px;
}

.tr td {
	padding-left: 10px;
}